.Background-and-full-screen-for-pop-up-of-dlete {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0000008a;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
}

.flex-center-box-for-modal-of-success-in-shobio {
  bottom: 2em;
  position: fixed;
  width: 25em;
  height: 4em;
  color: #ffd901;
  background: #333;
  border-radius: 5px;
}

.text-of-succes-in-pop-of-succes {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.uyio-awocld-ascxz {
  padding: 20px 30px;
}

.flex-cancel-and-delete-btn-at-bottom {
  display: flex;
  justify-content: end;
  padding: 20px 30px;
  gap: 1em;
  border-top: 1px solid #cfcbcb;
}

.modal-for-share-pop-ups-in-new-modal {
  width: 40em;
  height: 20.9em;
  background: #fff;
  border-radius: 5px;
}

.all-social-channels-links-in-one {
  padding: 0px 30px 20px 30px;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media (min-width: 320px) and (max-width: 425px) {
  .modal-for-share-pop-ups-in-new-modal {
    width: 100%;
  }
}
