.Background-full-for-sahre-modal-in-share-links-x {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0000008a;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
}

.flex-center-box-of-madal-in-react-delete {
  width: 40em;
  height: 13em;
  background: #fff;
  border-radius: 5px;
}

.flex-d-for-header-and-close-btn {
  border-bottom: 1px solid #cfcbcb;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.uyio-awocld-ascxz {
  padding: 20px 30px;
}

.flex-cancel-and-delete-btn-at-bottom {
  display: flex;
  justify-content: end;
  padding: 20px 30px;
  gap: 1em;
  border-top: 1px solid #cfcbcb;
}

.cancel-btn-at-delete-btn-in-modal-section {
  background: none;
  padding: 10px 20px;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn-at-delete-modal-section {
  color: #fff;
  background: none;
  padding: 10px 20px;
  font-weight: 600;
  border: 1px solid red;
  background: red;
  border-radius: 5px;
  cursor: pointer;
}

.input-of-link-and-scopy-link-btn-at-bottom {
  padding: 0px 30px 20px 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cfcbcb;
}

.input-of-link-tobe-share-in-sahre-pop-up {
  font-size: 14px;
  border: 1px solid #cfcbcb;
  padding: 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-of-link-tobe-share-in-sahre-pop-up:focus {
  border: 1px solid #cfcbcb;
}

.Btn-for-copy-link-in-right-section {
  padding: 12px;
  border: 1px solid #cfcbcb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.modal-for-share-pop-ups-in-new-modal {
  width: 40em;
  height: 20.9em;
  background: #fff;
  border-radius: 5px;
}

.all-social-channels-links-in-one {
  padding: 0px 30px 20px 30px;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

/* ---------- Responsive ------  */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (min-width: 320px) and (max-width: 425px) {
  .Background-full-for-sahre-modal-in-share-links-x {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #0000008a;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: end;
  }

  .modal-for-share-pop-ups-in-new-modal {
    width: 100%;
  }
  .all-social-channels-links-in-one {
    overflow-y: scroll;
  }
  .flex-center-box-of-madal-in-react-delete {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
